# dependencies
node_modules/
functions/node_modules/

.travis.yml
package-lock.json
functions/package-lock.json

# build
dist/

# firebase
.firebase/

#google cloud platform (gcp) functions
functions/lib/
functions/firebase-debug.log
/functions/src/localconfig
