# dependencies
node_modules/
functions/node_modules/

# build
dist/

# firebase
.firebase/

#google cloud platform (gcp) functions
functions/lib/
functions/firebase-debug.log
/functions/package-lock.json


.travis.yml