<div class="mdl-card mdl-shadow--2dp firebaseui-container">
  <form #form="ngForm" *ngIf="showSignup" novalidate>
    <div class="firebaseui-card-header">
      <h1 class="firebaseui-title">Create Account</h1>
    </div>
    <div class="firebaseui-card-content">
      <mat-form-field class="signup-input">
        <input
          required
          matInput
          class="form-control"
          type="text"
          name="email"
          placeholder="Email"
          #email="ngModel"
          pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$"
          [ngModel]="model.email"
          (ngModelChange)="model.email = $event"
        />
        <mat-error *ngIf="email.dirty && email.invalid">
          Invalid email
        </mat-error>
      </mat-form-field>

      <mat-form-field class="signup-input">
        <input
          required
          matInput
          class="form-control"
          type="password"
          name="password"
          placeholder="Password"
          #password="ngModel"
          pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
          [ngModel]="model.password"
          (ngModelChange)="model.password = $event"
        />
        <mat-error *ngIf="password.dirty && password.invalid">
          Invalid email
        </mat-error>
      </mat-form-field>
    </div>
    <div id="password-requirements">
      <div>
        <p>Password Must Include</p>
        <ul>
          <li>At least one number</li>
          <li>Upper case letters</li>
          <li>Lower case letters</li>
          <li>A Special character</li>
        </ul>
      </div>
      <div>
        <button
          type="submit"
          class="mdl-button mdl-button--raised mdl-button--colored"
          [disabled]="form.invalid"
          (click)="signUpWithEmailAndPassword()"
        >
          Sign Up
        </button>
      </div>
    </div>
  </form>

  <div id="seperator" *ngIf="showSignup">
    <hr />
    <div>
      OR
    </div>
  </div>

  <firebase-ui *ngIf="!signUpToggle" (signInSuccessWithAuthResult)="goHome()" (signInFailure)="failedLogin()">
  </firebase-ui>
</div>
