<div *ngIf="matchesService.matches.length > 1" class="firebaseui-container container">
  <h3 class="title">You have multiple matches</h3>
  <div class="matches-list">
    <div class="match-card" *ngFor="let match of matchesService.matches" (click)="openDetails()">
      <div class="header">
        {{ match.name }}
      </div>
      <img [src]="match.image" alt="" />
    </div>
  </div>
  <div class="action">
    <button
      mat-button
      class="choose-for-me"
      type="button"
      *ngIf="matchesService.matches.length > 1"
      (click)="chooseForMe()"
    >
      Choose for me
    </button>
  </div>
</div>

<div *ngIf="matchesService.matches.length === 1" class="single-match">
  <div class="header">
    Name
  </div>
  <div class="image">
    Image
  </div>
  <div class="match-info">
    <div class="tile eta">1</div>
    <div class="tile price">2</div>
    <div class="tile call">3</div>
    <div class="tile nav">4</div>
  </div>
</div>
