.container {
  background-color: transparent;

  .title {
    text-align: center;
    color: white;
  }
  .matches-list {
    height: 73vh;
    background-color: transparent;
    overflow-y: scroll;
  }

  .action {
    .choose-for-me {
      width: 100%;
      background-color: #ee6c4d;
      color: white;
      margin-top: 20px;
    }
  }

  .match-card {
    background-color: grey;
    margin-bottom: 25px;
    border-radius: 3px;
    height: 250px;
    cursor: pointer;

    .header {
      padding: 15px;
      background-color: white;
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    img {
      width: 100%;
      height: 200px;
    }
  }
}

.single-match {
  width: 100%;
  height: 91vh;
  background-color: #ededed;

  .header {
    padding: 15px;
    background-color: white;
  }

  .image {
    height: 200px;
    background-color: rgb(145, 168, 243);
  }

  .match-info {
    width: 80%;
    height: 250px;
    margin: auto;
    background-color: red;
    border: 1px solid grey;
    position: absolute;
    top: -100px;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 3px;

    .tile {
      width: 50%;
      height: 50%;
      //border: 1px solid black;
      float: left;
    }
  }
}
